.cardContainer
{
    /* background-color: var(--card-bg); */
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: 10px;
    background: var(--card-bg);
    padding: 20px;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.card:hover
{
    box-shadow: 1px 2px 4px 0px #222831;
    transform: scale(1.1);
    background: #fff;
    color: black;
}

.temp
{
    font-weight: 700;
}