*
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

:root
{
  --primary-bg: #343D4B;
  --dark-gray: #222831;
  --card-bg: #272E37FC;
  --border-white: #E7E7E7;
}