.searchBar
{
    border-radius: 17px;
    background: transparent;
    border: 1px solid var(--border-white);
    outline: none;
    padding: 1.5rem;
    width: 939px;
    font-size: 20px;
    color: white;
    font-weight: 600;
}