.mainSection
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.error
{
    color: white;
    font-weight: 700;
    font-size: 50px;
    border-top: 3px groove #88ecef;
    border-bottom: 3px groove #88ecef;
    padding: 1.5rem 3rem;
}

/* ----------LEFT PART----------- */
.left
{
    padding: 48px 32px;
    width: 493px;
    height: 666px;
    border-radius: 30px;
    background-image: linear-gradient(152deg, rgba(136, 235, 239, 0.70) -0.04%, rgba(83, 91, 230, 0.70) 100%),
        url("src/assets/SeaBg.avif");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* TOP LEFT SECTION  */
.topLeft,
.bottomLeft
{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.day
{
    font-size: 37px;
    font-weight: 700;
}

.date
{
    font-size: 22px;
    font-weight: 500;
}

.city
{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    font-weight: 600;
}

/* BOTTOM LEFT SECTION  */

.temp
{
    font-size: 50px;
    font-weight: 700;
}

.status
{
    font-size: 30px;
    font-weight: 700;
}


/* ----------RIGHT PART----------- */


.right
{
    width: 500px;
    height: 623px;
    border-radius: 0 30px 30px 0;
    background-color: var(--dark-gray);
    padding: 48px 32px;
    color: white;
}

/* TOP RIGHT SECTION  */
.topRight
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.property
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 28px;
    font-weight: 700;
}

.propertyQuantity
{
    font-weight: 500;
}

/* BOTTOM RIGHT SECTION  */